<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magetop_helloworld_posts" translate="label" sortOrder="1">
            <label>Magetop</label>
        </tab>
        <tab id="magetop_helloworld_import_customer" translate="label" sortOrder="2">
            <label>Import Customer</label>
        </tab>
        <section id="blog" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Magetop Helloworld</label>
            <tab>magetop_helloworld_posts</tab>
            <resource>Magetop_Helloworld::system_config</resource>
            <group id="setting" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <field id="enable" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="number_posts" translate="label comment" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Number Posts</label>
                    <comment>Number Posts</comment>
                    <validate>required-entry</validate>
                </field>
            </group>
        </section>
        <section id="import" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Magetop Import</label>
            <tab>magetop_helloworld_import_customer</tab>
            <resource>Magetop_Helloworld::system_config</resource>
            <group id="setting_import" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings Import</label>
                <field id="file_import" type="file" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <backend_model>Magento\Config\Model\Config\Backend\File</backend_model>
                    <upload_dir config="system/filesystem/media" scope_info="1">catalog/product/placeholder</upload_dir>
                    <base_url type="media" scope_info="1">catalog/product/placeholder</base_url>
                </field>
            </group>
        </section>
    </system>
</config>
